name: Testing CI

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    container: node:14-alpine
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci
      - run: apk add --no-cache postgresql-client git
      - run: PGPASSWORD=postgres psql -h postgres -U postgres -f application/db/install.sql
      - run: PGPASSWORD=marcus   psql -h postgres -d application -U marcus -f application/db/structure.sql
      - run: PGPASSWORD=marcus   psql -h postgres -d application -U marcus -f application/db/data.sql
      - run: npm test
